<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nicebody.mapper.CoachMapper">
    <resultMap id="coachById" type="com.nicebody.pojo.CoachInfo">
        <id column="coach_id" property="coachId"></id>
        <result column="coach_desc" property="coachDesc"></result>
        <result column="coach_name" property="coachName"></result>
        <result column="coach_price" property="coachPrice"></result>
        <association property="coachImage" javaType="com.nicebody.pojo.CoachImage">
            <result column="image_url" property="imageUrl"></result>
        </association>
    </resultMap>

    <select id="queryCoachById" resultMap="coachById">
        SELECT i.coach_id,i.coach_desc,i.coach_name,i.coach_price,m.image_url
        FROM tb_coach_info i, tb_coach_image m
        where i.coach_id = m.coach_id AND i.coach_id = #{id}
    </select>

    <select id=" queryAllImage" resultType="coachimage">
        SELECT image_id,image_url
        FROM tb_coach_image
        where coach_id = #{id}
    </select>
</mapper>