<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nicebody.mapper.CoachMapper">
    <resultMap id="coachMap" type="com.nicebody.pojo.Coach">
        <id column="coach_id" property="coachId"></id>
        <result property="userId" column="user_id"></result>
        <result property="tagId" column="tag_id"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
        <association property="user" javaType="com.nicebody.pojo.User">
            <id column="user_id" property="userId"/>
            <result column="user_name" property="userName"/>
            <result column="user_gender" property="userGender"/>
            <result column="is_coach" property="isCoach"/>
            <result column="user_integral" property="userIntegral"/>
            <result column="user_height" property="userHeight"/>
            <result column="user_weight" property="userWeight"/>
            <result column="user_birthday" property="userBirthday"/>
        </association>
    </resultMap>
    <select id="queryCoach" resultMap="coachMap">
        SELECT co.coach_id,co.user_id,co.tag_id,co.create_time,co.update_time,p.user_name,p.user_gender,p.is_coach,p.user_integral,p.user_height,p.user_weight,p.user_birthday
        FROM tb_user_coach co
        LEFT JOIN tb_user_profile p
        on co.user_id = p.user_id
        WHERE p.is_coach = 1
    </select>

<!--    <select id="sortCoach" resultType="coach">
        SELECT c.coach_id,c.user_id,c.create_time,c.update_time,p.user_name,p.user_gender,p.is_coach,p.user_integral,p.user_height,p.user_weight,p.user_birthday,t.tag_name,i.coach_desc
        FROM tb_user_coach c,tb_user_profile p,tb_tag t,tb_coach_info i
        WHERE c.coach_id = p.user_id AND p.is_coach = 1 AND c.tag_id = #{tagId} AND t.tag_id = c.tag_id AND c.coach_id = i.coach_id
    </select>-->
</mapper>