<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nicebody.mapper.CourseMapper">
    <resultMap id="courseMap" type="course">
        <id column="course_id" property="courseId"/>
        <result column="coach_id" property="coachId"/>
        <result column="course_title" property="courseTitle"/>
        <result column="course_desc" property="courseDesc"/>
        <result column="image_url" property="imageUrl"/>
        <result column="course_now_price" property="courseNowPrice"/>
        <result column="course_pre_price" property="coursePrePrice"/>
        <result column="course_level" property="courseLevel"/>
        <result column="study_count" property="studyCount"/>
        <result column="course_time" property="courseTime"/>
        <result column="course_note" property="courseNote"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="userProfile" column="user_id"
                     javaType="userProfile">
            <id column="user_id" property="userId"/>
            <result column="user_name" property="userName"/>
            <result column="user_image_url" property="userImageUrl"/>
        </association>
        <collection property="courseLessonList" column="course_id"
                     ofType="courseLesson">
            <id column="lesson_id" property="lessonId"/>
            <result column="lesson_title" property="lessonTitle"/>
            <result column="lesson_desc" property="lessonDesc"/>
            <result column="lesson_url" property="lessonUrl"/>
            <result column="create_time" property="createTime"/>
            <result column="update_time" property="updateTime"/>
        </collection>
    </resultMap>

    <select id="queryCourseList" resultMap="courseMap">
        SELECT course_id,course_title, course_desc,image_url,course_now_price,course_pre_price,study_count,course_time,c.create_time,course_note,user_name,u.user_image_url,c.course_level
        FROM tb_coach_course c,tb_user_profile u,tb_coach_info i,tb_tag t
        <where>
            c.coach_id = i.coach_id
            and
            u.user_id = i.user_id
            and
            t.tag_id = c.tag_id
            <if test="courseCondition != null
            and courseCondition.tagId != null">
                and t.tag_id = #{courseCondition.tagId}
            </if>
            <if test="courseCondition != null
            and courseCondition.courseTitle != null">
               and c.course_title like '%${courseCondition.courseTitle}%'
            </if>
            <if test="courseCondition != null
            and courseCondition.courseLevel != null">
                and c.course_level = #{courseCondition.courseLevel}
            </if>
        </where>
        <if test="orderByCondition != null">
            ORDER BY ${orderByCondition} DESC
        </if>
        LIMIT #{rowIndex}, #{pageSize}
    </select>

    <resultMap id="courseLessonMap" type="course">
        <result column="course_title" property="courseTitle"/>
        <result column="course_desc" property="courseDesc"/>
        <result column="image_url" property="imageUrl"/>
        <result column="course_now_price" property="courseNowPrice"/>
        <result column="course_pre_price" property="coursePrePrice"/>
        <result column="course_level" property="courseLevel"/>
        <result column="study_count" property="studyCount"/>
        <result column="study_count" property="studyCount"/>
        <result column="course_time" property="courseTime"/>
        <result column="course_note" property="courseNote"/>
        <association property="userProfile" column="user_id"
                     javaType="userProfile">
            <id column="coach_id" property="userId"/>
            <result column="user_name" property="userName"/>
            <result column="user_image_url" property="userImageUrl"/>
        </association>
        <collection property="courseLessonList" column="course_id"
                    ofType="courseLesson">
            <id column="lesson_id" property="lessonId"/>
            <result column="lesson_title" property="lessonTitle"/>
            <result column="lesson_desc" property="lessonDesc"/>
            <result column="lesson_url" property="lessonUrl"/>
        </collection>
    </resultMap>
    <select id="queryCourseByCourseId" resultMap="courseLessonMap">
        SELECT
        l.lesson_title,
        l.lesson_desc,
        l.lesson_url,
        c.course_title,
        c.course_level,
        c.course_desc,
        c.image_url,
        c.course_now_price,
        c.course_pre_price,
        c.study_count,
        c.course_note,
        c.course_time,
        c.coach_id,
        u.user_name,
        u.user_image_url
        FROM tb_course_lesson l,tb_coach_course c,tb_user_profile u,tb_coach_info i
        <where>
            c.course_id=#{courseId}
            and
            l.course_id=c.course_id
            and
            c.coach_id = i.coach_id
            and
            u.user_id = i.user_id
        </where>
    </select>
    <select id="queryCourseByCoachId" resultMap="courseMap">
        SELECT
        c.course_id,
        c.course_title,
        c.course_desc,
        c.image_url,
        c.course_now_price,
        c.course_pre_price,
        c.study_count,
        c.course_note,
        c.course_time
        FROM tb_coach_course c
        <where>
            c.coach_id=#{coachId}
        </where>
        LIMIT #{rowIndex}, #{pageSize}
    </select>
    <select id="selectCount" resultType="int">
        SELECT count(0)
        FROM tb_coach_course c,tb_user_profile u,tb_coach_info i,tb_tag t
        <where>
            c.coach_id = i.coach_id
            and
            u.user_id = i.user_id
            and
            t.tag_id = c.tag_id
            <if test="courseCondition != null
            and courseCondition.tagId != null">
                and t.tag_id = #{courseCondition.tagId}
            </if>
            <if test="courseCondition != null
            and courseCondition.courseTitle != null">
                and c.course_title like '%${courseCondition.courseTitle}%'
            </if>
            <if test="courseCondition != null
            and courseCondition.courseLevel != null">
                and c.course_level = #{courseCondition.courseLevel}
            </if>
        </where>

</select>
    <select id="queryCourseByUserId" resultMap="courseMap">
        SELECT c.course_id,course_title, course_desc,image_url,course_now_price,course_pre_price,study_count,course_time,course_note,u.user_name,u.user_image_url
        FROM tb_coach_course c,tb_user_course uc,tb_user_profile u
        <where>
            uc.user_id=#{userId}
            and
            c.course_id=uc.course_id
            and
            uc.user_id = u.user_id
        </where>
    </select>

</mapper>