<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nicebody.mapper.LoginMapper">
    <select id="queryAuthNumber" resultType="phoneAuth">
        select auth_number,phone_number
        from tb_phone_auth
        where
        phone_number = #{phoneNumber}
    </select>

    <insert id="insertPhoneAuth" parameterType="phoneAuth">
        INSERT INTO tb_phone_auth(phone_number,auth_number,create_time,update_time)VALUES(#{phoneNumber},#{authNumber},#{createTime},#{updateTime})

    </insert>
    <update id="updatePhoneAuth" parameterType="phoneAuth">
         update tb_phone_auth set auth_number=#{authNumber},user_id=#{userId} where phone_number=#{phoneNumber}

    </update>
</mapper>